<div class="col-xs-4 col-md-4">
  <div class="media thumbnail" id="<%= dom_id user %>">
    <div class="media-left">
      <%= image_tag user.avatar, height: 100, width: 100, class: "avatar" %>
    </div>
    <div class="media-body">
      <h4 class="media-heading">
      <%= link_to user.name, user %>
      </h4>
      <%= render 'shared/relationship_stat', user: user %>
      <br>
      <%= render 'shared/follow_form', user: user unless current_user?(user) %>
    </div>
  </div>
</div>