<% provide :title, @category.name %>
<h1 class="page-header">
  <%= @category.name %>
  <div class="action-btns">
    <%= link_to "Edit", edit_admin_category_path(@category), class: "btn btn-primary" %>
    <%= link_to "Delete", admin_category_path(@category), method: :delete, class: "btn btn-danger" %>
  </div>
</h1>

<div class="row">
  <div class="col-md-12">
    <div>
      <h4>Descriptions</h4>
      <p><%= @category.description %></p>
    </div>
    <div>
      <h1>Words List</h1>
      <ul>
        <% @category.words.each do |word| %>
          <li><%= word.content %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>